@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

body{
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-top: 55px;
    background: linear-gradient(110deg, #979797 55%, #bfbfbfe8 55%);
    min-height: calc(100vh - 55px);
}

.cart-logo{
    position: absolute;
    top: 0px;
    font-size: 14px;
    background-color: darkred;
    padding: 0px 5px;
    right: -0.4rem;
    border-radius: 50%;
}

.transform-it{
    transform: skewY(-5.2deg);
}